<div class="main">
  <div class="topbar">
    <h1>Guru</h1>
  </div>
  <div class="sidebar">
    <h2 class="color-6">Here is the siderbar</h2>
  </div>
  <div class="main-view">
    <h2>Here is the main view</h2>
  </div>


</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
