 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
          <div id="guruContainer">
              <div id="guruImage" class="no-cursor">
                <img src="images/guru-avatar.png">
                <div id="shadow"></div>
              </div>
            </div>
            <div class="login-content" style="text-align:center;">
                <h1>Welcome to Guru</h1>
        <h2 style="font-size:2em;">A Developer Developing Application</h2>
        <br />
    <p>Here is some text about our application, define our mission statement here</p>
    <br />
          <a id="goBackButton" href="/homepage"><button class="btn button-1" id="return">Return</button></a>

        

      </div>
      </div>
    </div>
  </div>
  
  <script>
    let localUserId = localStorage.getItem("userId");
$("#goBackButton").attr("href", `/homepage${localUserId}`);
  </script>

