 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
          <div id="guruContainer">
              <div id="guruImage">
                <a href="/information"><img src="images/guru-avatar.png"></a>
                <div id="shadow"></div>
              </div>
            </div>
            <div class="login-content" style="text-align:center;">
                <h1>Welcome to Guru</h1>
        <h2 style="font-size:1.5em;">Login</h2>
        <form class="login">
          <div class="form-group">
            {{!-- <label for="exampleInputEmail1">Email address</label> --}}
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            {{!-- <label for="exampleInputPassword1">Password</label> --}}
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn button-1">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/signup">here</a></p>
      </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/login.js"></script>