<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Questions</h5>
          <p>
            <strong>Employee Name</strong>: {{questions.employeeName}}</p>
          <p>
          <p>
            <strong>Subject</strong>: {{questions.subject}}</p>
          <p>
            <p>
            <strong>Body</strong>: {{questions.body}}</p>
          <p>
            <p>
            <strong>Status</strong>: {{questions.status}}</p>
          
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

