<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Responses</h5>
          <p>
            <strong>Response</strong>: {{Responses.responseId}}</p>
          <p>
          <p>
            <strong>Employee Name</strong>: {{Responses.employeeName}}</p>
          <p>
            <p>
            <strong>Question Id</strong>: {{Responses.questionId}}</p>
          <p>
        
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
 <meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
</head>
<body>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>

  <!-- Your like button code -->
  <div class="fb-like" 
    data-href="https://www.your-domain.com/your-page.html" 
    data-layout="standard" 
    data-action="like" 
    data-show-faces="true">Hello
  </div>