<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Response View</h5>
          
          <p>
            <strong>Response</strong>: {{response.id}}</p>
          <p>
            <p>
            <strong>Question Id</strong>: <div id="questionId">{{response.questionId}}</div></p>
          <p>

                        <p>
            <strong>Response</strong>: {{response.body}}</p>
          <p>
        
            <a id="backButton" href="">← Back To Question</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="/js/response-view.js"></script>
