<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Responses</h5>
          <p>
            <strong>Response</strong>: {{Responses.responseId}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{Responses.employeeName}}</p>
          <p>
            <p>
            <strong>Question Id</strong>: {{Responses.questionId}}</p>
          <p>
        
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
 