.color-1 {
    color: #dd9d3a;
}

.color-2 {
    color: #f27601;
}

.color-3 {
    color: #ffb602;
}

.color-4 {
    color: #feef0c;
}

.color-5 {
    color: #b77835;
}

.color-6 {
    color: #cf5e01;
}

.color-7 {
    color: #e87d07;
}