$color-1: #dd9d3a;
$color-2: #f27601;
$color-3: #ffb602;
$color-4: #feef0c;
$color-5: #b77835;
$color-6: #cf5e01;
$color-7: #e87d07;
$text-color: rgb(38, 38, 54);
h1 {
    // Grows more quickly, 
    // allowing for wider variation on larger screens
    font-size: calc(20px + 1.5vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    // Based on the inherited text-size,
    // and therefor growing at the same rate
    font-size: 1.2em;
    color: $text-color;
}

p {
    font-family: Lato, Calibri, Arial, sans-serif;
    color: $text-color;
}

.main {
    height: 100vh;
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: [topbar-row] 10vh [body] 90vh;
    grid-template-columns: [sidebar] 1fr [main] 5fr;
    // Minimum 16x, and grows more slowly 
    // (half the rate of screen growth)
    font-size: calc(16px + 0.5vw);
    // Line-height based on font-size,
    // with addition viewport-relative growth
    line-height: calc(1.1em + 0.5vw);
}

.topbar {
    grid-row: topbar-row;
    grid-column: sidebar + main;
    display: flex;
    background-color: $color-6;
    position: fixed;
    width: 100vw;
    height: 10vh;
    opacity: 0;
    z-index: 1;
}

.topbar h1 {
    margin: auto;
    color: $color-4;
    font-weight: 600;
    letter-spacing: 2px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    grid-row: body;
    grid-column: sidebar;
    background-color: rgba(165, 101, 42, 0.493);
    border-right: 2px $text-color solid;
    opacity: 0;
}

.sidebar h2 {
    text-align: left;
    margin: auto;
    padding: 0 1vw 0 1vw;
    padding-bottom: 10px;
}

.main-view {
    display: flex;
    flex-direction: column;
    grid-row: body;
    grid-column: main;
    margin: 0rem 2rem 2rem 2rem;
    padding: 0 1vw 0 1vw;
    opacity: 0;
}

.mainview h2 {
    text-align: left;
    padding-bottom: 10px;
}

.inquiry {
    transition: all .3s ease;
}

.button-1 {
    display: inherit;
    text-align: left;
    border-radius: 50px;
    border: 3px solid rgb(38, 38, 54);
    color: rgb(45, 49, 116);
    cursor: pointer;
    font-family: Lato, Calibri, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 10px 15px 10px 15px;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    background: linear-gradient(to bottom, white 50%, rgb(255, 99, 99) 50%);
    background-size: 100% 200%;
    transition: all .2s ease-out;
}

.button-1:hover {
    background-position: 0 -100%;
}

li {
    list-style-type: none;
}

input {
    height: 35px;
    border: 2px rgb(58, 180, 160) solid;
    border-radius: 4px;
}

input::placeholder {
    text-align: center;
    color: rgb(45, 49, 116);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1px;
}

.slide-up {
    -webkit-animation: slide 0.8s forwards;
    -webkit-animation-delay: 0s;
    animation: slide-up 0.8s forwards;
    animation-delay: 0s;
}

.slide-left-1 {
    -webkit-animation: slide 0.8s forwards;
    -webkit-animation-delay: 0.5s;
    animation: slide-left 0.8s forwards;
    animation-delay: 0.5s;
}

.slide-left-2 {
    -webkit-animation: slide 0.8s forwards;
    -webkit-animation-delay: 1s;
    animation: slide-left 0.8s forwards;
    animation-delay: 1s;
}

.slide-left-3 {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slide-left 0.5s forwards;
    animation-delay: 1.5s;
}

@-webkit-keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.no-animations * {
    opacity: 1;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}