<li data-id="{{id}}" class="list-group-item">
            <a href="responses/{{id}}">Response ID {{id}}</a>
            <p>{{body}}</p>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>